<span>SKS</span>
<div class="flex space-x-2 items-center">
    {% include 'components/form/form-field.html' with field=forms.sks_form.teori_sks not_include_error=True %}
    <span>-</span>
    {% include 'components/form/form-field.html' with field=forms.sks_form.praktik_sks not_include_error=True %}
</div>
<div class="mb-3">
{% include 'components/form/form-errors.html' with errors=forms.sks_form.teori_sks.errors %}
</div>

{% include 'components/form/form-field.html' with field=forms.rps_form.semester %}
{% include 'components/form/form-field.html' with field=forms.rps_form.deskripsi %}
{% include 'components/form/form-field.html' with field=forms.pengembang_rps_form.dosen_pengembang %}
{% include 'components/form/form-field.html' with field=forms.koordinator_rps_form.dosen_koordinator %}
{% include 'components/form/form-field.html' with field=forms.kaprodi_rps_form.kaprodi %}
{% include 'components/form/form-field.html' with field=forms.rps_form.clo_details %}
{% include 'components/form/form-field.html' with field=forms.rps_form.materi_pembelajaran %}
{% include 'components/form/form-field.html' with field=forms.rps_form.pustaka_utama %}
{% include 'components/form/form-field.html' with field=forms.rps_form.pustaka_pendukung %}
{% include 'components/form/form-field.html' with field=forms.dosen_pengampu_rps_form.dosen_pengampu %}
{% include 'components/form/form-field.html' with field=forms.mata_kuliah_syarat_rps_form.mk_semester_syarat %}
