{% extends 'home-view.html' %}

{% block title %}
Tambah CLO - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.get_clo_read_all_url }}" role="listitem">CLO</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah CLO</li>
{% endblock breadcrumb %}

{% block content %}
{% include 'components/form/form-wizard.html' %}
{% endblock content %}

{% block script %}
{% if wizard.form.forms %}
<script>
    addMoreForm('#{{ wizard.form.management_form.TOTAL_FORMS.id_for_label }}', isRequired=false);
    $('.teknik-penilaian-search').select2({
        width: '256px',
        tags: true,
    });
</script>
{% endif %}
{% endblock script %}