{% extends 'home-view.html' %}

{% block title %}
CLO - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">CLO</li>
{% endblock breadcrumb %}

{% block content %}
{% if object_list or data_exist %}
    <div class="h-icon">
        <h1>Course Learning Outcomes</h1>
        
        {% if user_role != 'm' %}
        {% if mk_semester_obj.is_clo_locked %}
        <a href="{{ mk_semester_obj.get_clo_unlock_url }}" class="btn btn-primary confirmation" data-confirm="Apakah anda yakin ingin membuka kunci CLO? Membuka kunci CLO sama dengan membuka kunci RPS juga." type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
            </svg>
            <span class="hidden sm:block sm:ml-2.5">Buka kunci</span>
        </a>    
        {% else %}
        <a href="{{ mk_semester_obj.get_clo_create_url }}" title="Tambah CLO" type="button" class="btn btn-success loading-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <span class="hidden sm:block">Tambah</span>
        </a>

        <a href="{{ mk_semester_obj.get_clo_lock_url }}" class="btn btn-warning confirmation" data-confirm="Apakah anda yakin ingin menguncinya? Seluruh item yang dikunci tidak akan bisa diedit dan dihapus sampai kunci dibuka." type="button">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="False" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
            </svg>
            <span class="hidden sm:block sm:ml-2.5">Kunci</span>
        </a>
        {% endif %}
        {% endif %}
    </div>

    <div class="table-div">
        <div class="tr-div">
            <div class="min-w-24 md:min-w-40">Semester</div>
            <div>:</div>
            <div>{{ mk_semester_obj.semester.semester.nama }}</div>
        </div>
        <div class="tr-div">
            <div class="min-w-24 md:min-w-40">Mata kuliah</div>
            <div>:</div>
            <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
        </div>
        <div class="tr-div !items-center">
            <div class="min-w-24 md:min-w-40">Status</div>
            <div>:</div>
            {% if mk_semester_obj.is_clo_locked %}
            <div class="badge badge-success">
                {% if user_role == 'm' %}
                Sudah lengkap
                {% else %}
                Sudah dikunci
                {% endif %}
            </div>
            {% else %}
            <div class="badge badge-warning">
                {% if user_role == 'm' %}
                Belum lengkap
                {% else %}
                Belum dikunci
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    {% include 'components/list-table-view/list-tools.html' with search_field=filter_form.nama %}

    {% if object_list %}
        <div class="flex flex-col sm:grid sm:grid-cols-2 md:block">
            <div class="w-min block md:hidden text-center mx-auto my-0">
                <canvas id="total-persentase-clo" class="max-w-[18rem] max-h-[18rem]"></canvas>
            </div>
            {% include 'components/list-table-view/model-a/read-all-view.html' with use_footer=True use_chart=True %}
        </div>
    {% else %}
        <p>Tidak ditemukan data dengan filter yang diberikan</p>
    {% endif %}
{% else %}
    <h1>Course Learning Outcomes</h1>
    <div class="table-div">
        <div class="tr-div">
            <div class="min-w-24 md:min-w-40">Semester</div>
            <div>:</div>
            <div>{{ mk_semester_obj.semester.semester.nama }}</div>
        </div>
        <div class="tr-div">
            <div class="min-w-24 md:min-w-40">Mata kuliah</div>
            <div>:</div>
            <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
        </div>
        <div class="tr-div !items-center">
            <div class="min-w-24 md:min-w-40">Status</div>
            <div>:</div>
            <div class="badge badge-warning">
                {% if user_role == 'm' %}
                Belum lengkap
                {% else %}
                Belum dikunci
                {% endif %}
            </div>
        </div>
    </div>

    {% if user_role == 'm' %}
    <p>CLO belum dibuat.</p>
    {% else %}
    <a href="{{ mk_semester_obj.get_clo_create_url }}" title="Tambah CLO" type="button" class="btn btn-primary max-w-min loading-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <span class="hidden sm:block">Tambah CLO</span>
    </a>
    {% endif %}
{% endif %}
{% endblock content %}

{% block script %}
<script>
    $.ajax({
        method: "GET",
        url: '{{ mk_semester_obj.get_clo_read_all_graph_url }}',
        success: function(data) {
            var chartConfig = {
                type: 'doughnut',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.datasets.data,
                        backgroundColor: data.datasets.backgroundColor,
                        hoverOffset: 4
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Total persentase CLO Mata Kuliah',
                            color: '#10b981' // Emerald 500
                        }
                    }
                }
            }

            var myChart = new Chart(
                document.getElementById('total-persentase-clo').getContext('2d'),
                chartConfig
            );
            
            var resizeChart = function() {
                myChart.destroy();
                myChart = new Chart(
                    document.getElementById('total-persentase-clo').getContext('2d'),
                    chartConfig
                );
            };
    
            window.addEventListener('resize', debounce(resizeChart, 200));
        },
        error: function(error_data) {
            console.error(error_data);
        }
    });
</script>
{% endblock script %}