{% extends 'index.html' %}
{% load static %}

{% block main %}
<main role="main" class="p-0">
    <div class="flex min-h-screen justify-center items-center">
        <div class="flex flex-col sm:w-80 lg:w-[480px] space-y-5 lg:space-y-6 sm:bg-neutral-50 sm:border sm:border-slate-800 dark:sm:bg-neutral-700 dark:sm:border-slate-100  sm:rounded-lg p-5 lg:p-8">
            <div class="w-full text-center">
                <img src="{% static 'public/img/logo-unhas.png' %}" alt="Logo Unhas" class="max-h-24 mx-auto my-0">
                <span class="text-2xl md:text-3xl font-bold">Masuk</span>
            </div>
            <a href="{{ oauth_url }}" class="btn btn-primary">Masuk dengan MBerkas</a>
        </div>
    </div>
</main>
{% endblock main %}

{% block script %}
<script src="{% static 'public/js/login.js' %}"></script>
{% endblock script %}