{% extends 'home-view.html' %}

{% block title %}
Laporan CPL - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page" role="listitem">Laporan CPL</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Laporan Capaian Pembelajaran Lulusan</h1>

<form action="." method="post" class="space-y-3">
    {% csrf_token %}
    
    {% include 'components/form/form-fields.html' %}

    <div id="formset-fields" class="max-h-60 overflow-y-auto">
        {% include 'components/form/formset.html' %}
    </div>
    
    <div class="form-buttons !justify-start">
        <button type="submit" class="btn btn-success loading-trigger" id="submit-btn">Submit</button>
        <a href="." class="btn btn-secondary">Reset</a>
    </div>
</form>

{% if perolehan_nilai_ilo_graph %}
<h2>Hasil</h2>

<ul class="tab" role="tablist">
    <li class="tab-item w-40" id="tab-1" data-target="#tab-grafik-pane" role="presentation">
        <div class="tab-title">
            <span class="truncate">Grafik</span>
        </div>

        <div class="tab-item-line"></div>
    </li>

    <li class="tab-item w-56 disabled" id="tab-1" data-target="#tab-nilai-pane" role="presentation">
        <div class="tab-title">
            <span class="truncate">Nilai mahasiswa</span>
        </div>

        <div class="tab-item-line"></div>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade min-h-screen show active" id="tab-grafik-pane" role="tabpanel" aria-labelledby="tab-1">
        {% comment %} Perolahan Nilai ILO Spider chart {% endcomment %}
        <div class="w-full mx-auto my-0">
            <canvas id="perolehan-nilai-ilo" class="w-full max-h-60 sm:max-h-64 lg:max-h-72 xl:max-h-80"></canvas>
        </div>
    </div>
    <div class="tab-pane fade min-h-screen" id="tab-nilai-pane" role="tabpanel" aria-labelledby="tab-1">
        {% include 'components/list-table-view/model-e/table-view-model-e.html' %}
    </div>
</div>
{% endif %}

{% endblock content %}

{% block script %}
<script>
    addMoreForm('#{{ formset.management_form.TOTAL_FORMS.id_for_label }}', false);
    // Kurikulum on change
    $('#id_kurikulum').on('change', function(){
        let selectedKurikulumId = $(this).val();
        $.ajax({
            url: '{% url 'laporan_cpl:formset-tahun-ajaran-choices' %}',
            data: {
                'kurikulum_id': selectedKurikulumId
            },
            dataType: 'json',
            success: function(data) {
                // Get tahun ajaran data
                let options = '';
                $.each(data.choices, function(index, choice) {
                    options += '<option value="' + choice[0] + '">' + choice[1] + '</option>';
                });

                // Get all tahun ajaran elements
                let tahunAjaranElements = $('.tahun-ajaran');
                tahunAjaranElements.each((index, elem) => {
                    $(elem).html(options).prop('disabled', false);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });

    // Tahun ajaran on change
    $('#formset-fields').on('change', '.tahun-ajaran',function(){
        let tahunAjaranElem = $(this)
        let selectedTahunAjaranId = $(this).val();
        $.ajax({
            url: '{% url 'laporan_cpl:formset-semester-choices' %}',
            data: {
                'tahun_ajaran_id': selectedTahunAjaranId
            },
            dataType: 'json',
            success: function(data) {
                // Get semester data
                let options = '';
                $.each(data.choices, function(index, choice) {
                    options += '<option value="' + choice[0] + '">' + choice[1] + '</option>';
                });
                
                // Get semester element
                let semesterSelectElem = $(tahunAjaranElem).parent().parent().siblings().children('div').children('.semester');
                
                semesterSelectElem.html(options).prop('disabled', false);
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }).trigger('change');

    // Update total form
    $('#submit-btn').on('click', function(){
        let notDeletedForm = 0;

        $('#form-list-{{ formset.management_form.TOTAL_FORMS.id_for_label }}').children().each(function(index, elem) {
            if(!$(elem).find('input:checkbox').is(':checked')){
                notDeletedForm ++;
            }
        });
        
        $('#{{ formset.management_form.TOTAL_FORMS.id_for_label }}').val(notDeletedForm);
    });

    {% comment %} Perolehan Nilai ILO {% endcomment %}
    {% if perolehan_nilai_ilo_graph %}
    let perolehanNilaiIloData = {{ perolehan_nilai_ilo_graph|safe }};
    let perolehanNilaiIloGraphConfig = {
        type: perolehanNilaiIloData.chart_type,
        data: perolehanNilaiIloData,
        options: {
            scales: {
                r: {
                    beginAtZero: true,
                    suggestedMax: 100,
                }
            }
        }
    };

    createChart('perolehan-nilai-ilo', perolehanNilaiIloGraphConfig);

    // Update chart to dark mode
    let isDarkMode = $('body').hasClass('dark');
    chartDarkMode(isDarkMode);
    {% endif %}
</script>
{% endblock script %}