{% extends 'home-view.html' %}

{% block form_media %}
{% for form in forms.values %}
    {{ form.media }}
{% endfor %}
{% endblock form_media %}

{% block title %}
Tambah RPS - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.get_rps_home_url }}" role="listitem">RPS</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah RPS</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Tambah Rincian RPS</h1>

<div class="table-div">
    <div class="tr-div">
        <div class="w-32 md:w-36">Semester</div>
        <div>:</div>
        <div>{{ mk_semester_obj.semester.semester }}</div>
    </div>
    <div class="tr-div">
        <div class="w-32 md:w-36">Mata kuliah</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
    </div>
</div>

{% include 'components/form/default-form.html' with is_upload_file=True %}
{% endblock content %}
