{% extends 'home-view.html' %}

{% block form_media %}
{% for form in forms.values %}
    {{ form.media }}
{% endfor %}
{% endblock form_media %}

{% block title %}
Edit rincian RPS - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.get_rps_home_url }}" role="listitem">RPS</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Edit rincian RPS</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Edit Rincian RPS</h1>

{% include 'components/form/default-form.html' with form_fields='rps/partials/rincian-rps-form-fields.html' %}
{% endblock content %}

{% block script %}
<script>
    $('.select-search-dosen').select2({
        width: '256px',
        ajax: {
            method: 'GET',
            url: '{% url "dosen-search" %}',
            data: function(params){
                let query = {
                    search: params.term
                }

                // Query parameters will be ?search=[term]
                return query;
            },
            dataType: 'json',
            processResults: function(data){
                return {
                    results: data.results
                };
            },
        }
    });

    $('.multi-select-search-mk-semester').select2({
        width: '256px', 
    });

    {% comment %} $('#id_mk_semester_syarat').val(['251', '163']).trigger('change'); {% endcomment %}
</script>
{% endblock script %}