<div class="w-full table-strip">
    <div class="space-y-1">
        {% if option.wrap_label %}
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.label.kode }}</div>
            </div>
            
            {% if option.label.kurikulum.nama %}
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Kurikulum</div>
                <div class="truncate">{{ option.label.kurikulum.nama }}</div>
            </div>
            {% endif %}
            
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">SKS</div>
                <div>{{ option.label.sks }}</div>
            </div>
        {% else %}
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.kode }}</div>
            </div>
            
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">SKS</div>
                <div>{{ option.sks }}</div>
            </div>
        {% endif %}
    </div>
</div>