<table class="w-full table-strip">
    <tbody class="space-y-1">
        {% if option.wrap_label %}
            <tr class="flex px-3 py-1 space-x-2.5">
                <td class="w-full">Kode</td>
                <td>{{ option.label.kode }}</td>
            </tr>
            
            <tr class="flex px-3 py-1 space-x-2.5">
                <td class="w-full">SKS</td>
                <td>{{ option.label.sks }}</td>
            </tr>
        {% else %}
            <tr class="flex px-3 py-1 space-x-2.5">
                <td class="w-full">Kode</td>
                <td>{{ option.kode }}</td>
            </tr>
            
            <tr class="flex px-3 py-1 space-x-2.5">
                <td class="w-full">SKS</td>
                <td>{{ option.sks }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>