{% if option.wrap_label %}
    <td class="text-left">{{ option.label.kode }}</td>   
    <td class="text-left max-w-md field-nama truncate">
        {{ option.label.nama }}
    </td>
    <td class="text-left">{{ option.label.sks }}</td>
{% else %}
    <td class="text-left">{{ option.kode }}</td>
    <td scope="col" class="text-left field-nama truncate max-w-md {% if open_button and option.read_detail_url %} items-center relative {% endif %}">
        {{ option.nama }}
        {% if open_button and option.read_detail_url %}
            {% include 'components/button/open-list-item-button.html' %}
        {% endif %}
    </td>
    <td class="text-left">{{ option.sks }}</td>
{% endif %}