{% extends 'home-view.html' %}

{% block title %}
Performance Indicators - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{% url 'semester:read' semester_kurikulum_id=semester_obj.id %}" role="listitem">Detail</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">PI</li>
{% endblock breadcrumb %}

{% block content %}
{% if object_list or data_exist %}
    <div class="h-icon justify-between">
        <h1>Performance Indicators</h1>
        <div class="flex flex-row space-x-2.5 xl:space-x-3">
            <button class="btn btn-primary" data-target="#create-modal" onclick="openModalByButton(this)" hx-get="{{ semester_obj.get_hx_create_pi_area_url }}" hx-target="#create-modal-content" hx-swap="outerHTML" hx-trigger="click">
                <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span class="hidden sm:block sm:ml-2.5">Tambah</span>
            </button>

            <button class="btn btn-warning" type="button" data-target="#create-modal" onclick="openModalByButton(this)" hx-get="{{ create_ilo_url }}" hx-target="#create-modal-form" hx-trigger="click">
                <svg xmlns="http://www.w3.org/2000/svg" focusable="False" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
                <span class="hidden sm:block sm:ml-2.5">Kunci</span>
            </button>

            <button class="btn btn-success" type="button" data-target="#create-modal" onclick="openModalByButton(this)" hx-get="{{ create_ilo_url }}" hx-target="#create-modal-form" hx-trigger="click">
                <svg xmlns="http://www.w3.org/2000/svg" focusable="False" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
                <span class="hidden sm:block sm:ml-2.5">Download</span>
            </button>
        </div>
    </div>

    <p>{{ semester_obj.semester.nama }}</p>

    <form action="{{ bulk_delete_url }}" method="post" class="space-y-3">
        {% csrf_token %}
        {% include 'components/list-table-view/selected-indicator.html' with delete_button=True %}
        
        <ol id="pi-area-list-content">
            {% for object in object_list %}
                <li class="mb-2.5 sm:mb-3">
                    <div class="flex flex-row items-center space-x-2.5 lg:space-x-3">
                        <span class="list-item-title">{{ object.nama }}</span>
                        
                        <button class="btn btn-success" title="Update" data-target="#update-modal" onclick="openModalByButton(this)" hx-get="{{ object.get_hx_update_pi_area_url }}" hx-target="#update-modal-content" hx-swap="outerHTML" hx-trigger="click">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                            </svg>
                        </button>
                        <a href="{{ object.get_delete_assessment_area_url }}" class="btn btn-danger" title="Hapus" 
                            hx-confirm='Apakah anda yakin ingin menghapus "{{ object.nama }}"?'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>
                    </div>

                    {% include 'components/list-table-view/model-b/list-view-model-b.html' with objects=object.get_pi_area %}
                </li>
            {% endfor %}
        </ol>
    </form>
{% else %}
<h1>Performance Indicators</h1>
<p>{{ semester_obj.semester.nama }}</p>
<button class="btn btn-primary" data-target="#create-modal" onclick="openModalByButton(this)" hx-get="{{ semester_obj.get_hx_create_pi_area_url }}" hx-target="#create-modal-content" hx-swap="outerHTML" hx-trigger="click">
    <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    <span class="hidden sm:block sm:ml-2.5">Tambah Performance Indicator</span>
</button>
{% endif %}
<div>
    {% include 'components/modal/htmx-modal.html' with modal_id='update-modal' modal_content_id='update-modal-content' is_modal_scrollable=True %}
    
    {% include 'components/modal/htmx-modal.html' with modal_id='create-modal' modal_content_id='create-modal-content' is_modal_scrollable=True %}
</div>

{% endblock content %}

{% block script %}
<script>
    onCheckboxClick('pi-area-list-content', '.list-item-model-b');
</script>
{% endblock script %}