{% extends 'home-view.html' %}

{% block title %}
Tambah Performance Indicators - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ semester_obj.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ semester_obj.read_all_pi_url }}" role="listitem">PI</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah Performance Indicator</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Tambah Area Performance Indicator</h1>

<form action="." method="post" class="space-y-2.5 xl:space-y-3">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% include 'components/form/form-errors.html' with errors=field.errors %}
        </div>
    {% endfor %}

    {% if formset %}
        {{ formset.management_form}}

        <div id="form-list" class="ml-4">
            {% for form in formset %}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="mb-3 added-form">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% include 'components/form/form-errors.html' with errors=field.errors %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>        

        <div class="hidden" id="empty-form">
            {% for field in formset.empty_form %}
                {% if not field.is_hidden %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% include 'components/form/form-errors.html' with errors=field.errors %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <button type="button" class="btn btn-primary btn-icon-start ml-4" id="add-form">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Tambah kode area PI
        </button>
    {% endif %}
    
    <div class="form-buttons">
        <button class="btn btn-success" type="submit">Tambah</button>
    </div>
</form>
{% endblock content %}

{% block script %}
<script>
    addMoreForm('#id_performanceindicatorarea_set-TOTAL_FORMS');
    colorSelect('#id_color');
</script>
{% endblock script %}