{% extends 'home-view.html' %}

{% block title %}
Tambah Performance Indicators - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item"><a href="{{ object.assessment_area.kurikulum.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ object.assessment_area.kurikulum.read_all_pi_area_url }}" role="listitem">PI</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail</li>
{% endblock breadcrumb %}

{% block content %}
<div class="h-icon">
    <h1>Detail Performance Indicator</h1>
    <a href="{{ object.get_pi_area_update_url }}" class="btn btn-success loading-trigger" title="Update">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>
    </a>
</div>

<div class="table-div">
    <div class="tr-div">
        <div class="w-24 sm:w-32 md:w-40 xl:w-48">Kurikulum</div>
        <div>:</div>
        <div>{{ object.assessment_area.kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 sm:w-32 md:w-40 xl:w-48">Area</div>
        <div>:</div>
        <div class="badge {{ object.assessment_area.get_color_display }}">{{ object.assessment_area.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 sm:w-32 md:w-40 xl:w-48">Kode area PI</div>
        <div>:</div>
        <div>{{ object.pi_code }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 sm:w-32 md:w-40 xl:w-48">Kode ILO</div>
        <div>:</div>
        <div>{{ object.ilo.nama|default:'-' }}</div>
    </div>
    {% if object.ilo %}
    <div class="tr-div">
        <div class="w-24 sm:w-32 md:w-40 xl:w-48">Deskripsi ILO</div>
        <div>:</div>
        <div></div>
    </div>

    <div class="tr-div">
        <div>{{ object.ilo.deskripsi }}</div>
    </div>
    {% endif %}
</div>

{% if object.get_performance_indicator %}
<h2>Performance Indicator</h2>
<ul class="list-disc ml-5">
{% for performance_indicator in object.get_performance_indicator %}
    <li>{{ performance_indicator.deskripsi }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock content %}
