<div class="w-full table-strip">
    <div class="space-y-1">
        {% if option.wrap_label %}
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.label.kode }}</div>
            </div>
            
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">SKS</div>
                <div>{{ option.label.sks }}</div>
            </div>
        {% else %}
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.mk_kurikulum.kode }}</div>
            </div>
            
            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">SKS</div>
                <div>{{ option.mk_kurikulum.sks }}</div>
            </div>

            <div class="flex px-3 py-1 space-x-2.5 justify-between">
                <div class="whitespace-nowrap font-bold">Status Nilai</div>
                <div>{{ option.status_nilai }}</div>
            </div>

            <div class="flex px-3 py-1 space-x-2.5 justify-between items-center">
                <div class="whitespace-nowrap font-bold">Status Pedoman</div>
                <div>
                    {% if single_object.status_pedoman %}
                    <div class="badge badge-success">Sudah dikunci</div>
                    {% else %}
                    <div class="badge badge-warning">Belum dikunci</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>