{% if option.wrap_label %}
    <td class="text-left">{{ option.label.kode }}</td>   
    <td class="text-left md:max-w-xs lg:max-w-sm xl:max-w-lg truncate field-nama">
        {{ option.label.nama }}
    </td>
    <td class="text-left">{{ option.label.sks }}</td>
{% else %}
    <td class="text-left">{{ option.mk_kurikulum.kode }}</td>
    <td scope="col" class="text-left field-nama truncate max-w-sm lg:max-w-xs {% if open_button and option.read_detail_url %} items-center relative {% endif %}">
        {{ option.mk_kurikulum.nama }}
        {% if open_button and option.read_detail_url %}
            {% include 'components/button/open-list-item-button.html' %}
        {% endif %}
    </td>
    <td class="text-left">{{ option.mk_kurikulum.sks }}</td>
    <td class="text-left hidden xl:table-cell !align-middle">
        {% if option.status_nilai %}
        <div class="w-5 h-5 rounded-full badge-success" title="Sudah lengkap"></div>
        {% else %}
        <div class="w-5 h-5 rounded-full badge-warning" title="Belum lengkap"></div>
        {% endif %}
    </td>
    <td class="text-left hidden xl:table-cell !align-middle">
        {% if option.status_pedoman %}
        <div class="w-5 h-5 rounded-full badge-success" title="Sudah dikunci"></div>
        {% else %}
        <div class="w-5 h-5 rounded-full badge-warning" title="Belum dikunci"></div>
        {% endif %}
    </td>
{% endif %}