{% extends 'home-view.html' %}

{% block title %}
Edit Nilai - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Edit Nilai</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Edit Nilai</h1>
<div class="table-div">
    <div class="tr-div">
        <div class="w-24 md:w-40">Mata kuliah</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Semester</div>
        <div>:</div>
        <div>{{ mk_semester_obj.semester.semester.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Kode</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.kode }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">SKS</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.sks }}</div>
    </div>
</div>

<h3>Peserta</h3>
<form action="." method="post">
    {% csrf_token %}

    {{ form.management_form }}
    
    <ul class="list-numbered space-y-4">
        {% for form_dict in list_form_dict %}
        <li>
            <span class="list-item-title">{{ form_dict.nama }}</span>
            <p>Nilai dari Neosia: {{ form_dict.nilai_akhir }}</p>
            
            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-1 md:gap-2 xl:gap-x-4">
                {% for single_form in form_dict.peserta_form %}
                <div>
                    {% for field in single_form %}
                        {% if not field.is_hidden %}
                            <div class="mb-2">
                                <label for="{{ field.id_for_label }}" class="form-label max-w-full sm:truncate" title="{{ field.label }}">{{ field.label }}</label>
                                <div class="flex flex-row items-center">
                                    {{ field }}
                        
                                    {% if field.help_text %}
                                    <div>
                                        <div class="tooltip-indicator cursor-pointer p-2" tabindex="-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle w-4 h-4" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                            </svg>
                                        </div>
                                        <div class="tooltip">
                                            {{ field.help_text|safe }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div>
                {% for single_form in form_dict.peserta_form %}
                    {% for field in single_form %}
                        {% include 'components/form/form-errors.html' with errors=field.errors %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="form-buttons">
        <a href="{{ back_url }}" class="btn btn-secondary">Kembali</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
{% endblock content %}