{% extends 'home-view.html' %}

{% block title %}
Edit Nilai - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Edit Nilai</li>
{% endblock breadcrumb %}

{% block content %}
{% if request.user.role == 'a' %}
<div class="h-icon">
    <h1>Edit Nilai</h1>
    <a href="?generate=true" class="btn btn-primary btn-icon-start max-w-min loading-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="False" aria-label="sync">
            <path d="M.01 0h24v24h-24V0z" fill="none"/>
            <path d="M12 4V2.21c0-.45-.54-.67-.85-.35l-2.8 2.79c-.2.2-.2.51 0 .71l2.79 2.79c.32.31.86.09.86-.36V6c3.31 0 6 2.69 6 6 0 .79-.15 1.56-.44 2.25-.15.36-.04.77.23 1.04.51.51 1.37.33 1.64-.34.37-.91.57-1.91.57-2.95 0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-.79.15-1.56.44-2.25.15-.36.04-.77-.23-1.04-.51-.51-1.37-.33-1.64.34C4.2 9.96 4 10.96 4 12c0 4.42 3.58 8 8 8v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.2.2-.51 0-.71l-2.79-2.79c-.31-.31-.85-.09-.85.36V18z"/>
        </svg>
        <span>Generate nilai</span>
    </a>
</div>
{% else %}
<h1>Edit Nilai</h1>
{% endif %}
<div class="table-div">
    <div class="tr-div">
        <div class="w-24 md:w-40">Mata kuliah</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Semester</div>
        <div>:</div>
        <div>{{ mk_semester_obj.semester.semester.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Kode</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.kode }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">SKS</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.sks }}</div>
    </div>
</div>

<h3>Peserta</h3>
{% include 'mata-kuliah-semester/partials/nilai-komponen/nilai-komponen-clo-form.html' %}
{% endblock content %}