{% extends 'home-view.html' %}

{% block title %}
Edit Nilai - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Edit Nilai</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Edit Nilai</h1>
<div class="table-div">
    <div class="tr-div">
        <div class="w-24 md:w-40">Mata kuliah</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Semester</div>
        <div>:</div>
        <div>{{ mk_semester_obj.semester.semester.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">Kode</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.kode }}</div>
    </div>
    <div class="tr-div">
        <div class="w-24 md:w-40">SKS</div>
        <div>:</div>
        <div>{{ mk_semester_obj.mk_kurikulum.sks }}</div>
    </div>
</div>

<h3>Peserta</h3>
{% include 'mata-kuliah-semester/partials/nilai-komponen/nilai-komponen-clo-form.html' %}
{% endblock content %}