{% extends 'home-view.html' %}

{% block title %}
Import Nilai - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ mk_semester_obj.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">import Nilai</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Import Nilai</h1>
{% include 'components/form/default-form.html' %}
{% endblock content %}