<ol class="flex flex-col sm:grid sm:grid-cols-2 list-numbered md:hidden {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">

    {% if use_widget %}
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <li class="list-item-model-a" role="listitem">
                    <div class="flex space-x-2.5 items-center">
                        {% include option.template_name with widget=option use_label=True %}
                        {% if option.badge_template %}
                            {% include option.badge_template %}
                        {% endif %}
                    </div>

                    {% if option.list_custom_field_template %}
                        {% include option.list_custom_field_template %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for option in options %}
            <li class="list-item-model-a" role="listitem">
                <div class="flex space-x-2.5 items-center">
                    <label class="w-full flex space-x-2.5 items-center">
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="kurikulum-{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="kurikulum-{{ option.id_neosia }}" {% endif %}>
                        <span class="list-item-title">{{ option.nama }}</span>
                    </label>
                    {% include badge_template %}
                </div>
                
                <div>
                    <a href="{{ option.read_detail_url }}" class="cursor-pointer text-inherit hover:no-underline">
                        {% include list_custom_field_template %}
                    </a>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ol>

<table class="table-css table-hover table-checkbox table-numbered hidden md:table {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">
    <thead>
        <tr>
            <th scope="col" class="text-center checkbox">
                <input type="checkbox" name="table-checkbox" id="table-checkbox">
            </th>
            <th scope="col" class="text-center number">No.</th>
            
            {% if use_widget %}
                {% for group, options, index in widget.optgroups|slice:":1" %}
                    {% for option in options|slice:":1" %}
                        {% if option.table_custom_field_header_template %}
                            {% include option.table_custom_field_header_template %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% include table_custom_field_header_template %}
            {% endif %}
        </tr>
    </thead>

    <tbody id="table-body">
        {% if use_widget %}
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <tr>
                        <th scope="col" class="text-center checkbox">
                            {% include option.template_name with widget=option use_label=False %}
                        </th>
                        <th scope="col" class="text-center number"></th>
                        <td class="text-left max-w-xs flex">
                            <span class="one-line">{{ option.label.nama }}</span>
                        </td>

                        {% if option.table_custom_field_template %}
                            {% include option.table_custom_field_template %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for option in options %}
                <tr>
                    <th class="text-center checkbox">
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="kurikulum-{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="kurikulum-{{ option.id_neosia }}" {% endif %}>
                    </th>
                    <th class="text-center number"></th>
                    <td scope="col" class="text-left max-w-xs{% if open_button %} group flex flex-row items-center relative {% endif %}">
                        <span class="one-line">{{ option.nama }}</span>
                        {% if open_button %}
                        <a href="{{ option.read_detail_url }}" class="btn btn-outline-light absolute right-4 h-7 invisible group-hover:visible">
                            Buka
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right ml-1 sm:ml-1 !w-4 !h-4" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                        {% endif %}
                    </td>

                    {% include table_custom_field_template %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    {% if id %}
        onCheckboxClick('{{ id }}', '.list-item-model-a');
        $("#search-input").keyup(function(){
            searchTextInList('{{ id }}');
        });
    {% endif %}
</script>