{% extends 'home-view.html' %}

{% block title %}
Student Performance - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ object.kelas_mk_semester.mk_semester.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ object.kelas_mk_semester.mk_semester.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Student Performance</li>
{% endblock breadcrumb %}

{% block content %}
<div class="h-icon">
    <h1>Student Performance</h1>
    <a href="{{ object.get_calculate_student_performance_url }}" class="btn btn-primary btn-icon-start max-w-min">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="False" aria-label="sync">
            <path d="M.01 0h24v24h-24V0z" fill="none"/>
            <path d="M12 4V2.21c0-.45-.54-.67-.85-.35l-2.8 2.79c-.2.2-.2.51 0 .71l2.79 2.79c.32.31.86.09.86-.36V6c3.31 0 6 2.69 6 6 0 .79-.15 1.56-.44 2.25-.15.36-.04.77.23 1.04.51.51 1.37.33 1.64-.34.37-.91.57-1.91.57-2.95 0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-.79.15-1.56.44-2.25.15-.36.04-.77-.23-1.04-.51-.51-1.37-.33-1.64.34C4.2 9.96 4 10.96 4 12c0 4.42 3.58 8 8 8v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.2.2-.51 0-.71l-2.79-2.79c-.31-.31-.85-.09-.85.36V18z"/>
        </svg>
        <span class="hidden ml-0 sm:ml-2.5 sm:block">Hitung performa</span>
    </a>

    <a href="javascript:void(0);" id="download-performance" data-url="{{ object.get_student_performance_url }}?download_performance=true" class="btn btn-success max-w-min" role="menuitem link">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="False" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        <span class="hidden ml-0 sm:ml-2.5 sm:block">Download</span>
    </a>
</div>

<div class="table-div">
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">Nama mahasiswa</div>
        <div>:</div>
        <div class="font-bold">{{ object.mahasiswa.nama }}</div>
    </div>
    {% with object.kelas_mk_semester.mk_semester as mk_semester %}
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">Mata kuliah</div>
        <div>:</div>
        <div>{{ mk_semester.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">Semester</div>
        <div>:</div>
        <div>{{ mk_semester.semester.semester.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">Kode</div>
        <div>:</div>
        <div>{{ mk_semester.mk_kurikulum.kode }}</div>
    </div>
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">SKS</div>
        <div>:</div>
        <div>{{ mk_semester.mk_kurikulum.sks }}</div>
    </div>
    {% endwith %}
    <div class="tr-div">
        <div class="min-w-32 md:min-w-40">Nilai akhir</div>
        <div>:</div>
        <div>{{ object.nilai_akhir|default_if_none:'-' }}</div>
    </div>
</div>

<h2>Grafik Perolahan Nilai CLO</h2>
<div>
    {% comment %} Perolehan nilai CLO bar chart {% endcomment %}
    <canvas id="perolehan-nilai-clo" class="w-full {% if is_bar_chart_max_h_60 %} max-h-60 {% else %} max-h-80 {% endif %}"></canvas>
</div>

<div class="flex flex-row justify-between items-center space-x-4">
    <h2>Grafik Perolahan Nilai CPL</h2>
    <select class="form-control select-input-content">
        <option value="perolehan-nilai-ilo-1" selected>Chart</option>
        <option value="perolehan-nilai-ilo-2">List view</option>
    </select>
</div>

<div>
    {% comment %} Perolahan Nilai ILO Spider chart {% endcomment %}
    <div class="select-content hidden" id="perolehan-nilai-ilo-1">
        <div class="w-full mx-auto my-0">
            <canvas id="perolehan-nilai-ilo" class="w-full max-h-60 sm:max-h-64 lg:max-h-72 xl:max-h-80"></canvas>
        </div>
    </div>

    {% comment %} Perolehan nilai ILO List view {% endcomment %}
    <div class="select-content hidden" id="perolehan-nilai-ilo-2">
        <ul class="w-full grid sm:grid-cols-2 gap-4" role="list">
            {% for nilai_ilo in list_nilai_ilo %}
            <li class="list-item-model-e" role="listitem">
                <table class="w-full">
                    <tbody class="flex flex-col space-y-2.5 md:space-y-3 xl:space-y-4">
                        <tr class="flex space-x-2 5">
                            <th class="w-full">{{ nilai_ilo.ilo.nama}}</th>
                        </tr>
                        <tr class="flex space-x-2.5">
                            <th scope="row" class="w-full">Nilai</th>
                            <td class="text-right whitespace-nowrap">{{ nilai_ilo.nilai_ilo|floatformat:2 }}</td>
                        </tr>
                        <tr class="flex space-x-2.5">
                            <th scope="row" class="w-full">Satisfactory Level</th>
                            <td class="text-right whitespace-nowrap">{{ nilai_ilo.ilo.satisfactory_level|floatformat:2 }}</td>
                        </tr>
                        <tr class="flex space-x-2.5">
                            <th scope="row" class="w-full">Hasil</th>
                            <td class="text-right">
                                {% if nilai_ilo.nilai_ilo > nilai_ilo.ilo.satisfactory_level %}
                                    <div class="badge badge-success">Lulus</div>
                                {% else %}
                                    <div class="badge badge-danger">Tidak Lulus</div>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    {% comment %} Pencapaian nilai CLO bar graph {% endcomment %}
    let perolehanNilaiCloData = {{ perolehan_nilai_clo_graph|safe }};
    let perolehanNilaiCloGraphConfig = {
        type: 'bar',
        data : {
            labels: perolehanNilaiCloData.labels,
            datasets: [{
                data: perolehanNilaiCloData.datasets.data,
                hoverOffset: 4,
            }]
        },
        options: {
            indexAxis: 'y',
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Nilai',
                    },
                    suggestedMax: 100,
                },
                y: {
                    title: {
                        display: true,
                        text: 'CPMK',
                    },
                }
            }
        }
    };

    createChart('perolehan-nilai-clo', perolehanNilaiCloGraphConfig);

    {% comment %} Pencapaian nilai ILO radar graph {% endcomment %}
    let perolehanNilaiIloData = {{ perolehan_nilai_ilo_graph|safe }};
    {% if is_radar_chart %}
    let perolehanNilaiIloGraphConfig = {
        type: 'radar',
        data: perolehanNilaiIloData,
        options: {
            scales: {
                r: {
                    beginAtZero: true,
                    suggestedMax: 100,
                }
            }
        }
    };
    {% else %}
    let perolehanNilaiIloGraphConfig = {
        type: 'bar',
        data: perolehanNilaiIloData,
    };
    {% endif %}

    createChart('perolehan-nilai-ilo', perolehanNilaiIloGraphConfig);

    // Update chart to dark mode
    let isDarkMode = $('body').hasClass('dark');
    chartDarkMode(isDarkMode);

    downloadFileButton('#download-performance', '{{ filename }}');
</script>
{% endblock script %}
