<td scope="col" class="text-left field-nama truncate max-w-[10rem] min-w-[8rem] lg:max-w-[7rem] lg:min-w-[6rem] xl:max-w-[12rem] xl:min-w-[10rem] {% if open_button and option.read_detail_url %} items-center relative {% endif %}">
    {{ option.nama }}
    {% if open_button and option.read_detail_url %}
        {% include 'components/button/open-list-item-button.html' %}
    {% endif %}
</td>
<td class="text-left truncate max-w-[8rem] min-w-[6rem] lg:max-w-[7rem] xl:max-w-[10rem] xl:min-w-[8rem]">{{ option.get_ilo.nama }}</td>
<td class="text-left">{{ option.get_komponen_clo|length }}</td>
<td class="text-right">{{ option.get_total_persentase_komponen }}</td>