<ol class="flex flex-col {% if not use_chart %}sm:grid sm:grid-cols-2{% endif %} md:hidden {% if not page_obj.start_index %}list-numbered{% endif %} {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">

    {% if use_widget %}
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <li class="list-item-model-a active:active transition-all" role="listitem">
                    <div class="flex space-x-2.5 items-center">
                        {% comment %} Checkbox, number and name {% endcomment %}
                        {% if option.custom_option_template_name %}
                            {% include option.custom_option_template_name with widget=option use_label=True %}
                        {% else %}
                            {% include option.template_name with widget=option use_label=True %}
                        {% endif %}

                        {% comment %} Badge {% endcomment %}
                        {% if option.badge_template %}
                            {% include option.badge_template %}
                        {% endif %}
                    </div>

                    {% comment %} Fields {% endcomment %}
                    {% if option.list_custom_field_template %}
                        {% include option.list_custom_field_template %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for option in options %}
            <li class="list-item-model-a active:active transition-all" role="listitem">
                <div class="flex space-x-2.5 items-center">
                    <label class="w-full flex space-x-2.5 items-center">
                        {% if user_role != 'm' %}
                        {% comment %} Checkbox {% endcomment %}
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="{{ prefix_id }}{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="{{ prefix_id }}{{ option.id }}" {% endif %}>
                        {% endif %}

                        {% comment %} Number and name {% endcomment %}
                        {% with page_obj.start_index|add:forloop.counter|add:-1 as number %}
                            {% include list_item_name|default:'components/list-table-view/model-a/list-item-name.html' %}
                        {% endwith %}
                        
                        {% comment %} Badge {% endcomment %}
                        {% if badge_template %}
                            {% include badge_template %}
                        {% endif %}
                    </label>
                </div>
                
                {% comment %} Fields {% endcomment %}
                <div>
                    <a href="{{ option.read_detail_url }}" class="cursor-pointer text-inherit hover:no-underline active:text-inherit transition-none">
                        {% if list_custom_field_template %}
                            {% include list_custom_field_template %}
                        {% endif %}
                    </a>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ol>

<table class="table-css table-hover table-checkbox hidden md:table {% if not page_obj.start_index %}table-numbered{% endif %} {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">
    <thead>
        {% if is_custom_header %}
            {% include table_custom_field_header_template %}
        {% else %}
        <tr>
            {% if user_role != 'm' %}
            {% comment %} Checkbox {% endcomment %}
            <th scope="col" class="text-center checkbox">
                <input type="checkbox" name="table-checkbox" id="table-checkbox">
            </th>
            {% endif %}

            {% comment %} Number {% endcomment %}
            <th scope="col" class="text-center number">No.</th>
            
            {% comment %} Table header {% endcomment %}
            {% if use_widget %}
                {% for group, options, index in widget.optgroups|slice:":1" %}
                    {% for option in options|slice:":1" %}
                        {% if option.table_custom_field_header_template %}
                            {% include option.table_custom_field_header_template %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% if table_custom_field_header_template %}
                    {% include table_custom_field_header_template %}
                {% endif %}
            {% endif %}
        </tr>
        {% endif %}
    </thead>

    <tbody>
        {% if use_widget %}
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <tr>
                        {% if user_role != 'm' %}
                        {% comment %} Checkbox {% endcomment %}
                        <th scope="col" class="text-center checkbox">
                            {% if option.template_name %}
                                {% include option.template_name with widget=option use_label=False %}
                            {% endif %}
                        </th>
                        {% endif %}

                        {% comment %} Number {% endcomment %}
                        <th scope="col" class="text-center number"></th>
                        
                        {% comment %} Fields {% endcomment %}
                        {% if option.table_custom_field_template %}
                            {% include option.table_custom_field_template %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for option in options %}
                <tr class="{% if open_button and option.read_detail_url %} group {% endif %}">
                    {% if user_role != 'm' and not not_use_checkbox %}
                    {% comment %} Checkbox {% endcomment %}
                    <th class="text-center checkbox">
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="{{ prefix_id }}{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="{{ prefix_id }}{{ option.id }}" {% endif %}>
                    </th>
                    {% endif %}
                    {% comment %} Number {% endcomment %}
                    <th class="text-center {% if not page_obj.start_index %}number{% endif %}">
                        {% if page_obj.start_index %}
                            {{ page_obj.start_index|add:forloop.counter|add:-1 }}.
                        {% endif %}
                    </th>
                    {% comment %} Fields {% endcomment %}
                    {% if table_custom_field_template %}
                        {% include table_custom_field_template %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>

    {% if use_footer %}
    <tfoot>
        <tr>
            {% if use_widget %}
                {% comment %} Footer {% endcomment %}
                {% if option.table_footer_custom_field_template %}
                    {% include option.table_footer_custom_field_template %}
                {% endif %}
            {% else %}
                {% if table_footer_custom_field_template %}
                    {% include table_footer_custom_field_template %}
                {% endif %}
            {% endif %}
        </tr>
    </tfoot>
    {% endif %}
</table>

<script>
    {% if id %}
        onCheckboxClick('{{ id }}', '.list-item-model-a');
        $("#search-input").keyup(function(){
            searchTextInList('{{ id }}');
        });
    {% endif %}
</script>