<ol class="flex flex-col sm:grid sm:grid-cols-2 list-numbered md:hidden {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">

    {% if use_widget %}
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <li class="list-item-model-a" role="listitem">
                    <div class="flex space-x-2.5 items-center">
                        {% include option.template_name with widget=option use_label=True %}
                        {% if option.badge_template %}
                            {% include option.badge_template %}
                        {% endif %}
                    </div>

                    {% if option.list_custom_field_template %}
                        {% include option.list_custom_field_template %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for option in options %}
            <li class="list-item-model-a active:active transition-all" role="listitem">
                <div class="flex space-x-2.5 items-center">
                    <label class="w-full flex space-x-2.5 items-center">
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="{{ prefix_id }}{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="{{ prefix_id }}{{ option.id }}" {% endif %}>
                        
                        {% include list_item_name|default:'components/list-table-view/model-a/list-item-name.html' %}

                        {% if badge_template %}
                            {% include badge_template %}
                        {% endif %}
                    </label>
                </div>
                
                <div>
                    <a href="{{ option.read_detail_url }}" class="cursor-pointer text-inherit hover:no-underline active:text-inherit transition-none">
                        {% if list_custom_field_template %}
                            {% include list_custom_field_template %}
                        {% endif %}
                    </a>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ol>

<table class="table-css table-hover table-checkbox table-numbered hidden md:table {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">
    <thead>
        <tr>
            <th scope="col" class="text-center checkbox">
                <input type="checkbox" name="table-checkbox" id="table-checkbox">
            </th>
            <th scope="col" class="text-center number">No.</th>
            
            {% if use_widget %}
                {% for group, options, index in widget.optgroups|slice:":1" %}
                    {% for option in options|slice:":1" %}
                        {% if option.table_custom_field_header_template %}
                            {% include option.table_custom_field_header_template %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% if table_custom_field_header_template %}
                    {% include table_custom_field_header_template %}
                {% endif %}
            {% endif %}
        </tr>
    </thead>

    <tbody id="table-body">
        {% if use_widget %}
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <tr>
                        <th scope="col" class="text-center checkbox">
                            {% if option.template_name %}
                                {% include option.template_name with widget=option use_label=False %}
                            {% endif %}
                        </th>
                        <th scope="col" class="text-center number"></th>

                        {% if option.table_custom_field_template %}
                            {% include option.table_custom_field_template %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for option in options %}
                <tr class="{% if open_button and option.read_detail_url %} group {% endif %}">
                    <th class="text-center checkbox">
                        <input type="checkbox" name="{{ input_name }}" {% if option.id_neosia %}value="{{ option.id_neosia }}" id="{{ prefix_id }}{{ option.id_neosia }}" {% else %}value="{{ option.id }}" id="{{ prefix_id }}{{ option.id }}" {% endif %}>
                    </th>
                    <th class="text-center number"></th>
                    
                    {% if table_custom_field_template %}
                        {% include table_custom_field_template %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    {% if id %}
        onCheckboxClick('{{ id }}', '.list-item-model-a');
        $("#search-input").keyup(function(){
            searchTextInList('{{ id }}');
        });
    {% endif %}
</script>