<div class="wmd-wrapper {% if image_upload_enabled %}image-upload-enabled{% endif %}">
    <ul class="tab" role="tablist">
        <li class="tab-item w-40" id="tab-1-{{ widget.attrs.id }}" data-target="#tab-input-pane-{{ widget.attrs.id }}" role="presentation">
            <div class="tab-title">
                <span class="truncate">Input</span>
            </div>
            
            <div class="tab-item-line"></div>
        </li>
        <li class="tab-item w-40 disabled" id="tab-2-{{ widget.attrs.id }}" data-target="#tab-preview-pane-{{ widget.attrs.id }}" role="presentation">
            <div class="tab-title">
                <span class="truncate">Pratinjau</span>
            </div>
            
            <div class="tab-item-line"></div>
        </li>
    </ul>

    <div class="tab-content">
        {% comment %} Input {% endcomment %}
        <div class="tab-pane fade show active" id="tab-input-pane-{{ widget.attrs.id }}" role="tabpanel" aria-labelledby="tab-1-{{ widget.attrs.id }}">
            <div class="wmd-panel">
                <div id="wmd-button-bar-{{ widget.attrs.id }}" class="wmd-button-bar"></div>
                {% include 'custom-widgets/forms/widgets/pagedown/textarea.html' %}
            </div>
        </div>

        <div class="tab-pane fade" id="tab-preview-pane-{{ widget.attrs.id }}" role="tabpanel" aria-labelledby="tab-2-{{ widget.attrs.id }}">
            <div id="wmd-preview-{{ widget.attrs.id }}" class="wmd-preview"></div>  
        </div>
    </div>
    {% if image_upload_enabled %}
        <div class="pagedown-image-upload">
            <h2>Insert Image</h2>
            <div class="form-row">
                <div>
                    <label class="label">From the web</label>
                    <input class="url-input" type="text" placeholder="http://" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label class="label">From your computer</label>
                    <input class="file-input" type="file" name="image" id="file" data-action="{% url 'pagedown-image-upload' %}" accept="image/*"/>
                </div>
            </div>
            <div class="submit-row">
                <input class="submit-input" type="submit" value="Save" name="_addanother">
                <p class="deletelink-box"><a href="#" class="close-image-upload deletelink">Cancel</a></p>
            </div>
        </div>
    {% endif %}
</div>
