{% if formset %}
    {{ formset.management_form }}

    <div id="form-list" class="ml-4">
        {% for form in formset %}
            <div class="mb-3">
                <div id="form-{{ forloop.counter0 }}" class="mb-3 added-form flex flex-row justify-between space-x-3 max-w-xl">
                    <div>
                        {% include 'components/form/formset-fields.html' %}
                    </div>

                    <button type="button" class="btn btn-danger delete-form" data-delete="{{ forloop.counter0 }}" onclick="deleteExistingForm(this, '{{ form.DELETE.id_for_label }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </button>
                </div>

                <p id="deleted-form-{{ forloop.counter0 }}" class="hidden">Item berhasil dihapus. <a href="javascript:void();" data-delete="{{ forloop.counter0 }}" onclick="undoDeleteExistingForm(this, '{{ form.DELETE.id_for_label }}')">Kembalikan item.</a></p>
            </div>
        {% endfor %}

        {% include 'components/form/form-errors.html' with errors=formset.non_form_errors %}
    </div>        

    <div class="hidden mb-3 flex-row justify-between space-x-3 max-w-xl" id="empty-form">
        <div>
            {% include 'components/form/formset-fields.html' with form=formset.empty_form %}
        </div>

        <button type="button" class="btn btn-danger delete-form" data-delete="__prefix__" onclick="deleteForm(this, '{{ id_total_form }}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
        </button>
    </div>

    <button type="button" class="btn btn-primary btn-icon-start ml-4" id="add-form">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        {{ add_more_btn_text|default:'Tambah lagi' }}
    </button>
{% endif %}