<form action="." method="post" class="space-y-2.5 xl:space-y-3">
    {% csrf_token %}
    {{ wizard.management_form }}

    <div class="form-wizard">
        <nav role="navigation">
            <ol>
                {% for step in wizard.steps.all %}
                    <li class="form-wizard-page
                        {% if step == wizard.steps.current %} active {% endif %}
                        {% if step in revealed_page and step != latest_page %} revealed {% endif %}
                        {% if step == latest_page %} latest {% endif %}">
                        <button name="wizard_goto_step" type="submit" value="{{ step }}" role="button" {% if step not in revealed_page or step == wizard.steps.current %}disabled{% endif %}></button> 
                    </li>
                {% endfor %}
            </ol>
        </nav>

        <div class="form-wizard-parent space-y-2 md:space-y-4">
            <h2 class="form-wizard-header list-item-title">{{ wizard.steps.step1 }}. {{ current_title }}</h2>
            {% if current_help_text %}
                <p>{{ current_help_text|safe }}</p>
            {% endif %}

            {% comment %} Formset {% endcomment %}
            {% if wizard.form.forms %}
                {% include 'components/form/formset.html' with formset=wizard.form %}
            {% comment %} Original Form {% endcomment %}
            {% else %}
                {% include 'components/form/form-fields.html' with form=wizard.form %}
            {% endif %}
        </div>
    </div>

    <div class="form-buttons">
        {% if wizard.steps.prev %}
            <button class="btn btn-secondary btn-icon-start loading-trigger" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" role="button" id="prev-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" focusable="False" role="img" aria-label="previous" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                Sebelumnya
            </button>
        {% endif %}
        
        <input class="btn btn-success btn-icon-end loading-trigger" type="submit" value="{% if wizard.steps.next %}Selanjutnya{% else %}Submit{% endif %}"/>
    </div>
</form>