<form action="." method="post" class="space-y-2 md:space-y-3">
    {% csrf_token %}

    {% for field in form %}
        <h2>{{ field.label }}</h2>

        {% if field.help_text %}
            <p>{{ field.help_text|safe }}</p>
        {% endif %}

        {% include 'components/search-box.html' with search_by_js=True %}

        {% include 'components/list-table-view/selected-indicator.html' with delete_button=False %}

        {{ field }}

        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
                <li>
                    <span class="form-error active">{{ error }}</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    <div class="form-buttons">
        <a href="{{ back_url }}" class="btn btn-secondary">Kembali</a>
        <button type="submit" class="btn btn-success">{{ submit_text|default:'Submit' }}</button>
    </div>
</form>