{% extends 'home-view.html' %}

{% block title %}
{{ object.mk_kurikulum.nama }} - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ object.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail MK</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ object.mk_kurikulum.nama }}</h1>

<div class="table-div">
    <div class="tr-div">
        <div>Semester</div>
        <div>:</div>
        <div>{{ object.semester.nama }}</div>
    </div>
    <div class="tr-div">
        <div>Kode</div>
        <div>:</div>
        <div>{{ object.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div>SKS</div>
        <div>:</div>
        <div>{{ object.mk_kurikulum.sks }}</div>
    </div>
    <div class="tr-div">
        <div>Status nilai</div>
        <div>:</div>
        <div></div>
    </div>
    <div class="tr-div">
        <div>Status pedoman</div>
        <div>:</div>
        <div></div>
    </div>
    <div class="tr-div">
        <div>Dosen</div>
        <div>:</div>
    </div>
</div>
{% endblock content %}