<div>
    <table class="table-css table-hover table-numbered table-scroll-header  w-40 sm:w-72 md:w-96 xl:w-[28rem]">
        <thead>
            {% include table_scroll_head_header %}
        </thead>

        <tbody>
            {% include table_scroll_head_body %}
        </tbody>
    </table>

    <div class="table-scroll-data -ml-1 md:-ml-1.5 w-[calc(100%-11.5rem)] sm:w-[calc(100%-18rem)] md:w-[calc(100%-24rem)] xl:w-[calc(100%-28rem)]">
        <table class="table-css table-hover">
            <thead>
                {% include table_scroll_data_header %}
            </thead>

            <tbody>
                {% include table_scroll_data_body %}
            </tbody>
        </table>
    </div>
</div>