<a href="{{ option.read_detail_url }}" class="btn btn-outline-light absolute right-4 top-1/2 -translate-y-1/2 h-6 lg:h-7 invisible group-hover:visible opacity-0 group-hover:opacity-100 group-hover:transition-opacity group-hover:ease-in-out group-hover:duration-500">
    Buka
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right ml-1 sm:ml-1 !w-4 !h-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg>
</a>