<div class="w-full">
    <div class="w-64 xl:w-72">
        <table>
            <tbody>
                <tr>
                    <td class="w-full">Nilai huruf</td>
                    <td>:</td>
                    <td>{{ option.nilai_huruf|default:'-' }}</td>
                </tr>
                {% for nilai in option.get_nilai_komponen_clo_peserta %}
                    <tr>
                        <td class="w-full">{{ nilai.komponen_clo.clo.nama }} - {{ nilai.komponen_clo.teknik_penilaian }}</td>
                        <td>:</td>    
                        <td>{{ nilai.nilai }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary" href="#">Student Performance</a>