<div class="w-full">
    <div class="w-64 xl:w-72">
        <table>
            <tbody>
                <tr>
                    <td class="w-full">Nilai huruf</td>
                    <td class="table-cell">:</td>
                    <td class="table-cell">{{ option.nilai_huruf|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="w-full">CLO 1 (Presentasi)</td>
                    <td class="table-cell">:</td>
                    <td class="table-cell">90</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary" href="#">Student Performance</a>