{% if option.wrap_label %}
    <td class="text-left">
        {{ option.label.mahasiswa.username }}
    </td>
    <td class="text-left truncate max-w-sm field-nama">
        {{ option.label.mahasiswa.nama }}
    </td>
    <td class="text-right">
        {{ option.label.nilai_akhir|default_if_none:'-' }}
    </td>
    <td class="text-right md:hidden xl:table-cell">
        {{ option.label.nilai_huruf|default_if_none:'-' }}
    </td>
{% else %}
    {% comment %} NIM {% endcomment %}
    <td class="text-left">
        {{ option.mahasiswa.username }}
    </td>
    {% comment %} Nama {% endcomment %}
    <td class="text-left md:max-w-[12rem] lg:max-w-[10rem] xl:max-w-[18rem] truncate field-nama" title="{{ option.mahasiswa.nama }}">
        {{ option.mahasiswa.nama }}
    </td>
    {% comment %} Nilai angka {% endcomment %}
    <td class="text-right">
        {{ option.nilai_akhir|default_if_none:'-' }}
    </td>
    {% comment %} Status nilai CPMK {% endcomment %}
    <td class="table-cell !align-middle">
        {% if option.status_nilai %}
        <div class="bg-emerald-500 w-4 h-4 rounded-full my-0 mx-auto" title="Sudah lengkap"></div>
        {% else %}
        <div class="bg-amber-500 w-4 h-4 rounded-full my-0 mx-auto" title="Belum lengkap"></div>
        {% endif %}
        
    </td>
    {% comment %} Edit {% endcomment %}
    <td class="text-center">
        <button class="table-actions !align-middle" data-target="#edit-nilai-modal" onclick="openModalByButton(this)" hx-get="{{ option.get_hx_nilai_komponen_clo_peserta_edit_url }}" hx-target="#edit-nilai-modal-content" hx-swap="outerHTML" hx-trigger="click">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 fill-sky-600" focusable="False" aria-label="edit">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
        </button>
    </td>
    {% comment %} Expand {% endcomment %}
    <td class="text-center !align-middle">
        <button type="button" onclick="tableAccordion(this)" class="table-collapse !align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="w-5 h-5" focusable="False" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </td>
{% endif %}
