<div class="mb-3">
    <label for="{{ filter_form.tahun_mulai.id_for_label }}" class="form-label">{{ filter_form.tahun_mulai.label }}</label>
    {{ filter_form.tahun_mulai }}
    {% include 'component/form/form-errors' with errors=filter_form.tahun_mulai.errors %}
</div>

<div class="mb-3">
    <label for="{{ filter_form.is_active.id_for_label }}" class="form-label">{{ filter_form.is_active.label }}</label>
    {{ filter_form.is_active }}
    {% include 'component/form/form-errors' with errors=filter_form.is_active.errors %}
</div>