<div class="w-full table-strip">
    <div class="space-y-1">
        <div class="flex px-3 py-1 space-x-2.5 justify-between">
            {% if option.wrap_label %}
                <div class="whitespace-nowrap font-bold">Tahun mulai</div>
                <div>{{ option.label.tahun_mulai }}</div>
            {% else %}
                <div class="whitespace-nowrap font-bold">Tahun mulai</div>
                <div>{{ option.tahun_mulai }}</div>
            {% endif %}
        </div>
        
        {% if not option.wrap_label %}
        <div class="flex px-3 py-1 space-x-2.5 justify-between">
            <div class="whitespace-nowrap font-bold">Jenjang studi</div>
            <div class="truncate">{{ option.prodi_jenjang.nama }}</div>
        </div>
        {% endif %}
    </div>
</div>