{% if option.wrap_label %}
    <td class="text-left max-w-xs truncate field-nama">
        {{ option.label.nama }}
    </td>
    <td class="text-left">{{ option.label.tahun_mulai }}</td>
    <td class="text-left !align-middle">
        {% if option.badge_template %}
            {% include option.badge_template %}
        {% endif %}
    </td>
{% else %}
    <td scope="col" class="text-left field-nama truncate max-w-xs {% if open_button and option.read_detail_url %} items-center relative {% endif %}">
        {{ option.nama }}
        {% if open_button and option.read_detail_url %}
            {% include 'components/button/open-list-item-button.html' %}
        {% endif %}
    </td>
    <td class="text-left">{{ option.tahun_mulai }}</td>
    <td class="text-left max-w-xs truncate">{{ option.prodi_jenjang.nama }}</td>
    <td class="text-left">
        {% if badge_template %}
            {% include badge_template %}
        {% endif %}
    </td>
{% endif %}