{% extends 'home-view.html' %}

{% block title %}
{{ object.semester.nama }} - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ object.semester.nama }}</h1>

<ul class="w-full text-center sm:text-start space-y-2 sm:space-y-0 sm:space-x-2 xl:space-x-10">
    <li class="link-item-icon">
        <a href="javascript:void(0);">
            <div class="rounded-full bg-slate-500 w-48 h-48"></div>
            <span>
                Mata Kuliah Semester
            </span>
        </a>
    </li>

    <li class="link-item-icon">
        <a href="{{ object.read_all_pi_area_url }}" class="link-with-icon">
            <div class="rounded-full bg-slate-500 w-48 h-48"></div>
            <span>
                Performance Indicators
            </span>
        </a>
    </li>

    <li class="link-item-icon">
        <a href="{{ object.read_all_ilo_url }}" class="link-with-icon">
            <div class="rounded-full bg-slate-500 w-48 h-48"></div>
            <span>
                Intended Learning Outcomes
            </span>
        </a>
    </li>
</ul>
{% endblock content %}