{% extends 'home-view.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ object.nama }}</h1>

<table>
    <tr>
        <td class="w-40 md:w-52 xl:w-64">Tahun mulai</td>
        <td>:</td>
        <td>{{ object.tahun_mulai }}</td>
    </tr>
    <tr>
        <td class="w-40 md:w-52 xl:w-64">Minimal SKS kelulusan</td>
        <td>:</td>
        <td>{{ object.min_sks }}</td>
    </tr>
    <tr>
        <td class="w-40 md:w-52 xl:w-64">Keaktifan</td>
        <td>:</td>
        <td>{% include 'kurikulum/partials/badge-list-kurikulum.html' with option=object %}</td>
    </tr>
</table>

{% with request.GET as GET %}
<ul class="tab" role="tablist">
    <li class="tab-item w-40 {% if GET %}{% if GET.semester_nama and GET.semester_tipe_semester or GET.semester_ordering_by %}  {% else %} disabled {% endif %}{% endif %}" id="tab-1" data-target="#tab-semester-pane" role="presentation">
        <div class="tab-title">
            <span class="one-line">Semester</span>

            <div class="w-2 h-2 lg:w-2.5 lg:h-2.5 ml-2.5 badge-warning rounded-full"></div>
        </div>

        <div class="tab-item-line"></div>
    </li>

    <li class="tab-item w-40 lg:w-44 {% if GET.mk_nama or GET.mk_sks or GET.mk_ordering_by %} {% else %} disabled {% endif %}" id="tab-2" data-target="#tab-mk-pane" role="presentation">
        <div class="tab-title">
            <span class="one-line">Mata Kuliah</span>

            <div class="w-2 h-2 lg:w-2.5 lg:h-2.5 ml-2.5 badge-warning  rounded-full"></div>
        </div>

        <div class="tab-item-line"></div>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade {% if GET %}{% if GET.semester_nama and GET.semester_tipe_semester or GET.semester_ordering_by %}show active{% endif %}{% else %}show active{% endif %}" id="tab-semester-pane" role="tabpanel" aria-labelledby="tab-semester">

        {% include 'components/list-table-view/list-tools.html' with search_field=semester_filter_form.semester_nama prefix_id=semester_prefix_id filter_template=semester_filter_template sort_template=semester_sort_template filter_form=semester_filter_form sort_form=semester_sort_form ordering_by_field=semester_sort_form.semester_ordering_by %}
        
        {% if semester_objects %}
            <form action="{{ semester_bulk_delete_url }}" method="post" class="space-y-2.5 py-2.5 md:p-3">
                {% csrf_token %}
                {% include 'components/list-table-view/selected-indicator.html' with delete_button=True %}
                {% include 'components/list-table-view/list-item-model-a.html' with use_widget=False open_button=True id='semester-list-content' prefix_id=semester_prefix_id input_name='id_semester' options=semester_objects badge_template=semester_badge_template list_custom_field_template=semester_list_custom_field_template table_custom_field_header_template=semester_table_custom_field_header_template table_custom_field_template=semester_table_custom_field_template %}
            </form>
        {% else %}
            <p>Tidak ditemukan data dengan filter yang diberikan</p>
        {% endif %}
    </div>

    <div class="tab-pane fade {% if GET.mk_nama and GET.mk_sks or GET.mk_ordering_by %}show active{% endif %}" role="tabpanel" id="tab-mk-pane" aria-labelledby="tab-mata-kuliah">
        {% include 'components/list-table-view/list-tools.html' with search_field=mk_filter_form.mk_nama prefix_id=mk_prefix_id filter_template=mk_filter_template sort_template=mk_sort_template filter_form=mk_filter_form sort_form=mk_sort_form ordering_by_field=mk_sort_form.mk_ordering_by %}

        {% if mk_objects %}
            <form action="{{ mk_bulk_delete_url }}" method="post" class="space-y-2.5 py-2.5 md:p-3">
                {% csrf_token %}

                {% include 'components/list-table-view/selected-indicator.html' with delete_button=True %}
                {% include 'components/list-table-view/list-item-model-a.html' with use_widget=False open_button=True id='mk-list-content' prefix_id=mk_prefix_id input_name='id_semester' options=mk_objects list_custom_field_template=mk_list_custom_field_template table_custom_field_header_template=mk_table_custom_field_header_template table_custom_field_template=mk_table_custom_field_template %}
            </form>
        {% else %}
            <p>Tidak ditemukan data dengan filter yang diberikan</p>
        {% endif %}
    </div>
</div>
{% endwith %}
{% endblock content %}