{% extends 'home-view.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail</li>
{% endblock breadcrumb %}

{% block title %}
{{ object.nama }} - 
{% endblock title %}

{% block content %}
<h1>{{ object.nama }}</h1>

<div class="table-div">
    <div class="tr-div">
        <div class="w-40 md:w-52 xl:w-64">Tahun mulai</div>
        <div>:</div>
        <div>{{ object.tahun_mulai }}</div>
    </div>
    <div class="tr-div">
        <div class="w-40 md:w-52 xl:w-64">Keaktifan</div>
        <div>:</div>
        <div>{% include 'kurikulum/partials/badge-list-kurikulum.html' with option=object %}</div>
    </div>
</div>
{% endblock content %}