{% extends 'home-view.html' %}

{% block title %}
Kurikulum - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page" role="listitem">Kurikulum</li>
{% endblock breadcrumb %}

{% block content %}
{% if object_list or data_exist %}
    <div class="h-icon">
        <h1>Data Kurikulum</h1>
        {% if user_role != 'm' %}
        <a href="{% url 'kurikulum:create' %}" title="Tambah data kurikulum" type="button" class="btn btn-success loading-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <span class="hidden sm:block">Tambah</span>
        </a>
        <a href="{% url 'kurikulum:bulk-update' %}" title="Update data kurikulum" type="button" class="btn btn-primary loading-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="False" aria-label="sync">
                <path d="M.01 0h24v24h-24V0z" fill="none"/>
                <path d="M12 4V2.21c0-.45-.54-.67-.85-.35l-2.8 2.79c-.2.2-.2.51 0 .71l2.79 2.79c.32.31.86.09.86-.36V6c3.31 0 6 2.69 6 6 0 .79-.15 1.56-.44 2.25-.15.36-.04.77.23 1.04.51.51 1.37.33 1.64-.34.37-.91.57-1.91.57-2.95 0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-.79.15-1.56.44-2.25.15-.36.04-.77-.23-1.04-.51-.51-1.37-.33-1.64.34C4.2 9.96 4 10.96 4 12c0 4.42 3.58 8 8 8v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.2.2-.51 0-.71l-2.79-2.79c-.31-.31-.85-.09-.85.36V18z"/>
            </svg>
            <span class="hidden sm:block">Update</span>
        </a>
        {% endif %}
    </div>

    {% include 'components/list-table-view/list-tools.html' with search_field=filter_form.nama %}

    {% if object_list %}
        {% include 'components/list-table-view/model-a/read-all-view.html' %}
    {% else %}
        <p>Tidak ditemukan data dengan filter yang diberikan</p>
    {% endif %}
{% else %}
    <h1>Kurikulum</h1>
    <p>Belum ada data.</p>
    {% if user_role != 'm' %}
    <a href="{% url 'kurikulum:create' %}" type="button" class="btn btn-primary btn-icon-start max-w-min loading-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="False" aria-label="sync">
            <path d="M.01 0h24v24h-24V0z" fill="none"/>
            <path d="M12 4V2.21c0-.45-.54-.67-.85-.35l-2.8 2.79c-.2.2-.2.51 0 .71l2.79 2.79c.32.31.86.09.86-.36V6c3.31 0 6 2.69 6 6 0 .79-.15 1.56-.44 2.25-.15.36-.04.77.23 1.04.51.51 1.37.33 1.64-.34.37-.91.57-1.91.57-2.95 0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-.79.15-1.56.44-2.25.15-.36.04-.77-.23-1.04-.51-.51-1.37-.33-1.64.34C4.2 9.96 4 10.96 4 12c0 4.42 3.58 8 8 8v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.2.2-.51 0-.71l-2.79-2.79c-.31-.31-.85-.09-.85.36V18z"/>
        </svg>
        Sinkronisasi data dengan Neosia
    </a>
    {% endif %}
{% endif %}
{% endblock content %}