{% extends 'home-view.html' %}

{% block title %}
Update Kurikulum - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Update</li>
{% endblock breadcrumb %}

{% block content %}
{% url 'kurikulum:read-all' as back_url %}
{% include 'components/form/single-form.html' with search_placeholder='Cari nama kurikulum...' %}
{% endblock %}