{% extends 'index.html' %}
{% load static %}

{% block header %}
<header class="navbar" role="banner">
    <nav>
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <button type="button" role="button" class="lg:hidden" onclick="showSidebar(this)" data-target="#sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="menu-sidebar" focusable="False" 
                        class="bi bi-list w-6 h-6
                        fill-slate-50" 
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>

                <div class="hidden lg:block">
                    <img src="{% static 'public/img/logo-unhas.png' %}" role="img" alt="logo-unhas" aria-label="logo-unhas" class="max-h-10">
                </div>

                <a href="/" class="navbar-header" role="link">
                    Universitas Hasanuddin
                </a>
            </div>
            
            <div class="relative hidden lg:block">
                <details class="dropdown">
                    <summary role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" focusable="False" fill="currentColor" 
                            class="bi bi-person-circle fill-slate-50 mr-2.5 w-8 h-8 xl:mr-3" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" focusable="False" role="img" aria-label="chevron-down"
                            class="bi bi-chevron-down dropdown-indicator
                            w-4 h-4
                            xl:w-6 xl:h-6
                            fill-slate-50" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </summary>

                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-item not-hoverable">
                            <span class="mr-2">Mode gelap</span>
                            <input type="checkbox" id="dark-mode-toggle" class="hidden" role="checkbox" aria-labelledby="dark-mode-toggle-label">
                            <label for="dark-mode-toggle" id="dark-mode-toggle-label">
                                <div class="w-9 h-5 bg-slate-500 rounded-full flex items-center p-1 cursor-pointer">
                                    <div class="w-4 h-4 bg-white rounded-full toggle-circle"></div>
                                </div>
                            </label>
                        </div>
                        
                        <a class="dropdown-item group" href="{% url 'accounts:logout' %}" role="menuitem link">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="logout" focusable="False" 
                                class="bi bi-power w-4 h-4 
                                fill-rose-500 dark:fill-rose-400 
                                group-hover:fill-rose-400 dark:group-active:fill-rose-300 transition-all" 
                                viewBox="0 0 16 16">
                                <path d="M7.5 1v7h1V1h-1z"/>
                                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                            </svg>

                            <span class="ml-2 text-rose-500
                                dark:text-rose-400
                                group-hover:text-rose-400
                                dark:group-active:text-rose-300 transition-all">Keluar</span>
                        </a>
                    </div>
                </details>
            </div>
        </div>
    </nav>
</header>
{% endblock header %}

{% block main %}
<main class="lg:ml-80" role="main">
    <div id="sidebar" class="sidebar" role="navigation">
        <div class="sidebar-header" role="heading">
            <span class="sidebar-title">Menu Utama</span>
        </div>
        
        <div class="sidebar-body" role="menu">
            <a href="/" class="sidebar-item" role="menuitem link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="home" focusable="False" 
                    class="bi bi-house
                        w-6 h-6 fill-slate-50" 
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ml-5 text-slate-50">Beranda</span>
            </a>
            
            {% if request.user.prodi %}
            <a href="{% url 'accounts:prodi-read' prodi_id=request.user.prodi.id_neosia %}" class="sidebar-item" role="menuitem link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="home" focusable="False" 
                    class="bi bi-house
                        w-6 h-6 fill-slate-50" 
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ml-5 text-slate-50">Program Studi</span>
            </a>
            {% endif %}

            <a href="{% url 'kurikulum:read-all' %}" class="sidebar-item" role="menuitem link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="curriculum" focusable="False" 
                    class="bi bi-house
                        w-6 h-6 fill-slate-50" 
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ml-5 text-slate-50">Kurikulum</span>
            </a>

            <a href="{% url 'semester:read-all' %}" class="sidebar-item" role="menuitem link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="semester" focusable="False" 
                    class="bi bi-house
                        w-6 h-6 fill-slate-50" 
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ml-5 text-slate-50">Semester</span>
            </a>

            <a href="{{ laporan_cpl_url }}" class="sidebar-item" role="menuitem link">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" role="img" aria-label="report" focusable="False" 
                    class="bi bi-house
                        w-6 h-6 fill-slate-50" 
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ml-5 text-slate-50">Laporan CPL</span>
            </a>
        </div>
    </div>
    
    <div class="backdrop hidden"></div>

    <nav role="navigation">
        <!-- Breadcrumb -->
        <ol class="breadcrumb" role="list">
            <li class="breadcrumb-item"><a href="/" role="listitem">Beranda</a></li>
            <li class="breadcrumb-item-collapse hidden" role="listitem">
                <div class="relative">
                    <details class="dropdown">
                        <summary role="button">
                            <span>...</span>
                        </summary>

                        <div id="breadcrumb-collapse" class="dropdown-menu">
                            <!-- Link for breadcrumb collapse -->
                        </div>
                    </details>
                </div>
            </li>
            {% block breadcrumb %}
                {% comment %} <li class="breadcrumb-item"><a href="#a" role="listitem">Semester</a></li>
                <li class="breadcrumb-item active" aria-current="page" role="listitem">Detail</li> {% endcomment %}
            {% endblock breadcrumb %}
        </ol>
    </nav>

    {% include 'components/loading-card.html' %}

    <div id="content">
        {% block content %}
            <h2>Selamat Datang, {{ request.user.name }}</h2>
            {% if not request.user.prodi %}
                <p class="text-danger">Saat akun anda tidak memiliki program studi. Hal ini dikarenakan akun anda di{% if request.user.role == 'd' or request.user.role == 'a' %} MBerkas {% else %} Neosia {% endif %}tidak memiliki program studi{% if request.user.role == 'd' %} atau data anda tidak tercatat di Neosia{% endif %}. Hubungi admin untuk memperbaiki hal ini.</p>
                {% if request.user.role == 'a' %}
                    <p>Cara memperbaiki:</p>
                    <ul class="list-decimal ml-5">
                        <li>Tambahkan data program studi di MBerkas</li>
                    </ul>
                {% elif request.user.role == 'd' %}
                    <p>Cara memperbaiki: (pilih salah satu)</p>
                    <ul class="list-decimal ml-5">
                        <li>Tambahkan data program studi di MBerkas</li>
                        <li>Tambahkan data dosen di Neosia</li>
                    </ul>
                {% elif request.user.role == 'm' %}
                    <p>Cara memperbaiki:</p>
                    <ul class="list-decimal ml-5">
                        <li>Tambahkan data mahasiswa di Neosia</li>
                    </ul>
                {% endif %}
            {% endif %}
        {% endblock content %}
    </div>
</main>
{% endblock main %}