{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Assessment</title>

    <link href="{% static 'public/css/index.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap" rel="stylesheet">

    <!-- JQuery -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <!-- JQuery Validation -->
    <script src="../node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
</head>
<body>
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'public/js/index.js' %}"></script>
    <script src="{% static 'public/js/form-wizard.js' %}"></script>
</body>
</html>