<div class="w-full table-strip">
    <div class="space-y-1">
        <div class="flex px-3 py-1 space-x-2.5 justify-between">
            {% if option.wrap_label %}
                <div class="whitespace-nowrap font-bold">Jenjang Studi</div>
                <div>{{ option.label.jenjang_studi.nama }}</div>
            {% else %}
                <div class="whitespace-nowrap font-bold">Jenjang Studi</div>
                <div>{{ option.jenjang_studi.nama }}</div>
            {% endif %}
        </div>
        <div class="flex px-3 py-1 space-x-2.5 justify-between">
            {% if option.wrap_label %}
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.label.jenjang_studi.kode }}</div>
            {% else %}
                <div class="whitespace-nowrap font-bold">Kode</div>
                <div>{{ option.jenjang_studi.kode }}</div>
            {% endif %}
        </div>
        {% if not option.wrap_label %}
        <div class="flex px-3 py-1 space-x-2.5 justify-between">
            <div class="whitespace-nowrap font-bold">Min. SKS Kelulusan</div>
            <div>{{ option.total_sks_lulus|default:0 }}</div>
        </div>
        {% endif %}
    </div>
</div>