<td scope="col" class="text-left field-nama truncate max-w-[10rem] min-w-[8rem] lg:max-w-[7rem] lg:min-w-[6rem] xl:max-w-[12rem] xl:min-w-[10rem] {% if open_button and option.read_detail_url %} items-center relative {% endif %}">
    {{ option.instrumen_penilaian }}
    {% if open_button and option.read_detail_url %}
        {% include 'components/button/open-list-item-button.html' %}
    {% endif %}
</td>
<td class="text-left truncate max-w-[8rem] min-w-[6rem] lg:max-w-[7rem] xl:max-w-[10rem] xl:min-w-[8rem]">{{ option.teknik_penilaian }}</td>
<td class="text-right">{{ option.persentase }}</td>
<td class="text-center !align-center">
    <a href="#" class="inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4 lg:w-5 lg:h-5 fill-emerald-500">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>
    </a>
</td>