{% if option.wrap_label %}
<div class="badge {% if option.label.tipe_semester|lower == "ganjil" %}badge-primary{% elif option.label.tipe_semester|lower == "genap" %}badge-success{% else %}badge-info{% endif %}">
    {{ option.label.tipe_semester|capfirst }}
</div>
{% else %}
<div class="badge {% if option.get_tipe_semester_display|lower == "ganjil" %}badge-primary{% elif option.get_tipe_semester_display|lower == "genap" %}badge-success{% else %}badge-info{% endif %}">
    {{ option.get_tipe_semester_display|capfirst }}
</div>
{% endif %}