{% include 'components/form/form-field.html' with field=forms.rincian_pertemuan_rps_form.learning_outcome %}
{% include 'components/form/form-field.html' with field=forms.rincian_pertemuan_rps_form.materi_pembelajaran %}

<p class="font-bold">Penilaian</p>
<div class="ml-5">
    {% include 'components/form/form-field.html' with field=forms.rincian_pertemuan_rps_form.indikator %}
    {% include 'components/form/form-field.html' with field=forms.rincian_pertemuan_rps_form.bentuk_kriteria %}
</div>

<p class="font-bold">Bentuk Pembelajaran</p>
{{ forms.pembelajaran_pertemuan_luring_rps_form.jenis_pertemuan.as_hidden }}
{{ forms.pembelajaran_pertemuan_daring_rps_form.jenis_pertemuan.as_hidden }}
<div class="ml-5 grid grid-cols-1 sm:grid-cols-2 gap-">
    {% include 'components/form/form-field.html' with field=forms.pembelajaran_pertemuan_luring_rps_form.bentuk_pembelajaran %}
    {% include 'components/form/form-field.html' with field=forms.pembelajaran_pertemuan_daring_rps_form.bentuk_pembelajaran %}
</div>

<p class="font-bold">Metode Pembelajaran</p>
<div class="ml-5 grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% include 'components/form/form-field.html' with field=forms.pembelajaran_pertemuan_luring_rps_form.metode_pembelajaran %}
    {% include 'components/form/form-field.html' with field=forms.pembelajaran_pertemuan_daring_rps_form.metode_pembelajaran %}
</div>

<p class="font-bold">Durasi</p>

<div class="ml-5 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
        <span>Luring (offline)</span>
        {% include 'components/form/formset.html' with formset=forms.durasi_pertemuan_luring_rps_formset formset_fields='rps/partials/pertemuan/durasi-formset-fields.html' %}
    </div>

    <div>
        <span>Daring (online)</span>
        {% include 'components/form/formset.html' with formset=forms.durasi_pertemuan_daring_rps_formset formset_fields='rps/partials/pertemuan/durasi-formset-fields.html' %}
    </div>
</div>
