{% extends 'home-view.html' %}

{% block title %}
Tambah Komponen - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ clo_obj.mk_semester.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ clo_obj.mk_semester.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item"><a href="{{ clo_obj.mk_semester.get_clo_read_all_url }}" role="listitem">CLO</a></li>
<li class="breadcrumb-item"><a href="{{ clo_obj.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah Komponen</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Tambah Komponen CLO</h1>
<p>CLO : {{ clo_obj.nama }}</p>

<form action="." method="post">
    {% csrf_token %}

    {% include 'components/form/formset.html' with formset=form %}

    <div class="form-buttons">
        <button type="submit" class="btn btn-success loading-trigger">Tambahkan</button>
    </div>
</form>

{% endblock content %}

{% block script %}
<script>
    addMoreForm('{{ id_total_form }}');
    $('.teknik-penilaian-search').select2({
        width: '256px',
        tags: true,
    });
</script>   
{% endblock script %}