{% with id=widget.attrs.id %}
    <ol class="flex flex-col sm:grid sm:grid-cols-2 list-numbered md:hidden {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}" 
        {% if id %}id="{{ id }}"{% endif %}
        role="list">

        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <li class="list-item-model-a" role="listitem">
                    <div class="flex space-x-2.5">
                        {% include option.template_name with widget=option use_label=True %}
                        
                        {% if option.badge_template %}
                            {% include option.badge_template with widget=option %}
                        {% endif %}
                    </div>
                    
                    {% if option.list_custom_field_template %}
                        {% include option.list_custom_field_template with widget=option %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>

    <table class="table-css table-hover table-checkbox table-numbered hidden md:table {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}" 
        {% if id %}id="{{ id }}"{% endif %}
        role="list">
        <thead>
            <tr>
                <th scope="col" class="text-center checkbox">
                    <input type="checkbox" name="table-checkbox" id="table-checkbox">
                </th>
                <th scope="col" class="text-center number">No.</th>

                {% for group, options, index in widget.optgroups|slice:":1" %}
                    {% for option in options|slice:":1" %}
                        {% if option.table_custom_field_header_template %}
                            {% include option.table_custom_field_header_template %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <tr>
                        <th scope="row" class="text-center checkbox">
                            {% include option.template_name with widget=option use_label=False %}
                        </th>
                        <th scope="row" class="text-center number"></th>
                        <td class="text-left">{{ option.label.nama }}</td>

                        {% if option.table_custom_field_template %}
                            {% include option.table_custom_field_template with widget=option %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <script>
        {% if id %}
            onCheckboxClick('{{ id }}');
        {% endif %}
    </script>
{% endwith %}
