<ol class="space-y-2.5 mt-2.5 {% if classes %}{{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    role="list">
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
            <li class="list-item-model-c" role="listitem">
                <div class="mt-3 w-4 h-4 md:w-5 md:h-5">
                    {% include option.template_name with widget=option %}
                </div>
                
                {% comment %} New data {% endcomment %}
                <div class="flex flex-col space-y-3 sm:space-y-0 sm:space-x-3 sm:flex-row w-full">
                    <div class="list-item-model-a bg-emerald-300 dark:bg-emerald-900">
                        <div class="flex space-x-2.5 items-center">
                            {% comment %} Name {% endcomment %}
                            {% include option.list_item_name with option=option.label.new %}
                            
                            {% comment %} Badge {% endcomment %}
                            {% if option.badge_template %}
                                {% include option.badge_template with option=option.label.new %}
                            {% endif %}
                        </div>
                        
                        {% comment %} Fields {% endcomment %}
                        {% if option.list_custom_field_template %}
                            {% include option.list_custom_field_template with option=option.label.new %}
                        {% endif %}
                    </div>
                    
                    {% comment %} Old data {% endcomment %}
                    <div class="list-item-model-a bg-rose-300 dark:bg-rose-900">
                        {% comment %} Name {% endcomment %}
                        <div class="flex space-x-2.5 items-center">
                            {% include option.list_item_name with option=option.label.old %}
                            
                            {% comment %} Badge {% endcomment %}
                            {% if option.badge_template %}
                                {% include option.badge_template with option=option.label.old %}
                            {% endif %}
                        </div>
                        
                        {% comment %} Fields {% endcomment %}
                        {% if option.list_custom_field_template %}
                            {% include option.list_custom_field_template with option=option.label.old %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ol>

<script>
    {% if id %}
        onCheckboxClick('{{ id }}', '.list-item-model-c');
        $("#search-input").keyup(function(){
            searchTextInList('{{ id }}');
        });
    {% endif %}
</script>