{% extends 'home-view.html' %}
{% load markdown_deux_tags %}

{% block title %}
{{ object }} - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'semester:read-all' %}" role="listitem">Semester</a></li>
<li class="breadcrumb-item"><a href="{{ object.mk_semester.semester.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ object.mk_semester.read_detail_url }}" role="listitem">Detail MK</a></li>
<li class="breadcrumb-item"><a href="{{ object.mk_semester.get_rps_home_url }}?active_tab=pertemuan" role="listitem">RPS</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Detail pertemuan</li>
{% endblock breadcrumb %}

{% block content %}
<div class="h-icon">
    <h1>{{ object }}</h1>
    {% if user_role != 'm' %}
    {% if not object.mk_semester.is_rencanapembelajaransemester_locked %}
    <a href="{{ object.get_pertemuan_update_url }}" class="btn btn-success btn-icon-start">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>
        <span class="hidden sm:block">Edit</span>
    </a>
    {% endif %}
    {% endif %}
</div>

<div class="table-div">
    <div class="tr-div">
        <div class="w-32 md:w-36">Semester</div>
        <div>:</div>
        <div>{{ object.mk_semester.semester.semester }}</div>
    </div>
    <div class="tr-div">
        <div class="w-32 md:w-36">Mata kuliah</div>
        <div>:</div>
        <div>{{ object.mk_semester.mk_kurikulum.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-32 md:w-36">CLO</div>
        <div>:</div>
        <div>{{ object.clo.nama }}</div>
    </div>
    <div class="tr-div">
        <div class="w-32 md:w-36">Bobot penilaian</div>
        <div>:</div>
        <div>{{ object.bobot_penilaian }}</div>
    </div>
</div>

{% with object.rincianpertemuanrps as rincian_pertemuan %}
{% if rincian_pertemuan %}
<div class="h-icon">
    <h2>Rincian RPS</h2>
    {% if user_role != 'm' %}
    {% if not object.mk_semester.is_rencanapembelajaransemester_locked %}
    <a href="{{ object.get_rincian_pertemuan_update_url }}" class="btn btn-success btn-icon-start">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
        </svg>
        <span class="hidden sm:block">Edit rincian</span>
    </a>
    {% endif %}
    {% endif %}
</div>

<div class="space-y-3">
    <div class="space-y-1">
        <div class="font-bold">Capaian pembelajaran:</div>
        <div>
            {{ rincian_pertemuan.learning_outcome }}
        </div>
    </div>

    <div class="space-y-2">
        <div class="font-bold">Penilaian</div>
        <div class="ml-5 space-y-1">
            <div>
                <div class="font-bold">Indikator:</div>
                <div class="ml-5 prose dark:prose-invert">{{ rincian_pertemuan.indikator|markdown }}</div>
            </div>
            
            <div>
                <div class="font-bold">Bentuk dan kriteria:</div>
                <div class="ml-5 prose dark:prose-invert">{{ rincian_pertemuan.bentuk_kriteria|markdown }}</div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
            <div class="font-bold">Bentuk Pembelajaran</div>
            <div class="ml-5 space-y-1">
                <div>
                    <div class="font-bold">Luring (offline):</div>
                    <div class="ml-5 prose dark:prose-invert">
                        {{ object.get_pembelajaran_pertemuan_luring.first.bentuk_pembelajaran|markdown }}
                    </div>
                </div>
                
                <div>
                    <div class="font-bold">Daring (online):</div>
                    <div class="ml-5 prose dark:prose-invert">
                        {{ object.get_pembelajaran_pertemuan_daring.first.bentuk_pembelajaran|markdown }}
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-2">
            <div class="font-bold">Metode Pembelajaran</div>
            <div class="ml-5 space-y-1">
                <div>
                    <div class="font-bold">Luring (offline):</div>
                    <div class="ml-5 prose dark:prose-invert">
                        {{ object.get_pembelajaran_pertemuan_luring.first.metode_pembelajaran|markdown }}
                    </div>
                </div>
                
                <div>
                    <div class="font-bold">Daring (online):</div>
                    <div class="ml-5 prose dark:prose-invert">
                        {{ object.get_pembelajaran_pertemuan_daring.first.metode_pembelajaran|markdown }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="space-y-2">
        <div class="font-bold">Durasi</div>
        <div class="ml-5 grid grid-cols-2 gap-4">
            <div class="space-y-1">
                <div class="font-bold">Luring (offline):</div>
                <div>
                    <ul>
                        {% for durasi in object.get_durasi_pertemuan_luring %}
                        <li>{{ durasi.tipe_durasi }}: {{ durasi.pengali_durasi }} x {{ durasi.durasi_menit }} menit</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="space-y-1">
                <div class="font-bold">Daring (online):</div>
                <div>
                    <ul>
                        {% for durasi in object.get_durasi_pertemuan_daring %}
                        <li>{{ durasi.tipe_durasi }}: {{ durasi.pengali_durasi }} x {{ durasi.durasi_menit }} menit</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="space-y-1">
        <div class="font-bold">Materi pembelajaran:</div>
        <div class="ml-5 prose dark:prose-invert">{{ rincian_pertemuan.materi_pembelajaran|markdown }}</div>
    </div>
</div>
{% else %}
<h2>Rincian RPS</h2>
<p>Belum ada data</p>
<a href="{{ object.get_rincian_pertemuan_create_url }}" class="btn btn-primary loading-trigger max-w-min">
    <svg xmlns="http://www.w3.org/2000/svg" focusable="False" role="img" aria-label="" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    <span class="hidden sm:block">Tambah rincian</span>
</a>
{% endif %}
{% endwith %}
{% endblock content %}