{% extends 'home-view.html' %}

{% block title %}
Tambah ILO - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item"><a href="{{ kurikulum_obj.read_detail_url }}" role="listitem">Detail</a></li>
<li class="breadcrumb-item"><a href="{{ kurikulum_obj.read_all_ilo_url }}" role="listitem">ILO</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah ILO</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ modal_title }}</h1>

{% include 'components/form/default-form.html' %}
{% endblock content %}