{% extends 'home-view.html' %}

{% block title %}
Tambah Mata Kuliah - 
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read-all' %}" role="listitem">Kurikulum</a></li>
<li class="breadcrumb-item"><a href="{% url 'kurikulum:read' kurikulum_id=kurikulum_id %}" role="listitem">Detail</a></li>
<li class="breadcrumb-item active" aria-current="page" role="listitem">Tambah mata kuliah</li>
{% endblock breadcrumb %}

{% block content %}
{% url 'kurikulum:read' kurikulum_id=kurikulum_id as back_url %}
{% include 'components/form/single-form.html' with search_placeholder='Cari nama mata kuliah...' submit_text='Tambahkan' %}
{% endblock %}